<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="nav navbar-default">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">RSS FEEDS</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/login/feeds">Dashboard</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Logout</a></li>
      </ul>
    </nav>
    <div class="container">
      <h1>Welcome</h1>
      <form action="feeds" method="get">
        <div class="radio">
          <label><input type="radio" name="siteoption" value="The Indian Society">The Indian Society</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="siteoption" value="BBC News">BBC News</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="siteoption" value="CNN News">CNN News</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="siteoption" value="Yahoo">Yahoo News</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="siteoption" value="NASA">NASA</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="siteoption" value="PC World">PC World</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="siteoption" value="DNA India">DNA India</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="siteoption" value="Times of India">Times of India</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="siteoption" value="The Financial Times">The Financial Times</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="siteoption" value="India Today">India Today</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="siteoption" value="Business-Standard">Business-Standard</label>
        </div>
        <div class="radio">
          <button type="submit" class="btn btn-info">Go</button>
        </div>
      </form>
      <h2><%= siteName %></h2>
      <ul>
        <% for (var i=0;i<docs.length;i++) {%>
          <li><%= docs[i].title %></li>
        <% } %>
      </ul>

    </div>
  </body>
</html>
